<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to InterviewScheduler, <%= @candidate.name %>!</h3>
    <p>We're pleased to add you to our ever-growing network of candidates,
       and wish you the best of luck in your job search! Now get out there
       and schedule some interviews :)</p>
    <p>Cheers,</p>
    <p>The InterviewScheduler Team</p>
  </body>
</html>
