
<%= content_tag :h4, "Forgot Password" %>
    
    <div class="field">
     <label for="Email">Email</label>
      <%= text_field :email, :value=> "#{@user_email}" %>
    </div>
	
    <div class="actions">
      <input type="submit" id="subutton" class="large button" value="Submit Request">
    </div>
