<div class = "row">
<div class = "small-2 columns"></div>
<div class = "small-8 columns">
<h4> Forgot your password? </h4>
<form action="/welcome/reset_password" method="get" id="inputform">
					  <label>Email </label>
                      <input type="text" name="email" value="Email">

                      <input type="submit" class="button" value="Retrieve">

</form>
</div>
<div class = "small-2 columns"></div>
</div>