<header class = "top-header">
	<div class = "row free-container">
		<div class = "twelve columns" >
			<div class = "free">FREE</div>
		</div>
	</div>
	
	<div class = "row banner">
		<div class = "twelve columns">
			<h1> PLAN, ORGANIZE & MANAGE SHIFTS </h1>
			<h4> Easy way to <b>automatically</b> assign event shifts for members of your organization.</h4>
		</div>
	</div>
</header>