<div class = "row">
	<div class = "large-1 columns">
		<i class="fi-home profile-icon"></i>
		<i class="fi-calendar profile-icon"></i>
		<i class="fi-mail profile-icon"></i>
		<i class="fi-wrench profile-icon"></i>
	</div>
	<div class = "large-8 columns">
		<div id = "calendar">
			
		</div>
	</div>
	<div class = "large-3 columns">
		
	</div>
</div>
