<div class = "row">
  <div class = "large-12 columns">
           <%= content_tag :h4, "#{@candidate.name}'s page" %>
  </div>
</div>

<div class = "row">
  <div class = "large-1 columns">
    <i class="fi-home profile-icon"></i>
    <i class="fi-calendar profile-icon"></i>
    <i class="fi-mail profile-icon"></i>
    <i class="fi-wrench profile-icon"></i>
  </div>

  <div class = "large-8 columns">
    <div id = "calendar">
    </div>
  </div>
  <div class = "large-3 columns">
    <form action="/candidates/<%=@candidate.name%>/edit" method="get">
       <input type="submit" value="Edit" class = "medium button" id="edit_button">
    </form>
  </div>
</div>




<script type='text/javascript'>

  $('#calendar').fullCalendar({
    events: [
        {
            title  : 'event1',
            start  : '2013-11-15'
        },
        {
            title  : 'event2',
            start  : '2013-11-15',
            end    : '2013-11-15'
        },
        {
            title  : 'event3',
            start  : '2013-11-09 12:30:00',
            allDay : false // will make the time show
        }
    ]
});
</script>
