$index-main-color: #344152;
$index-second-color: #687C97;

.main-header {

	border-bottom: solid 3px #e0eeee;
	padding: 20px 0;
	background-image: linear-gradient(bottom, #E7F3F5 14%, #DAE8F0 99%);
	background-image: -o-linear-gradient(bottom, #E7F3F5 14%, #DAE8F0 99%);
	background-image: -moz-linear-gradient(bottom, #E7F3F5 14%, #DAE8F0 99%);
	background-image: -webkit-linear-gradient(bottom, #E7F3F5 14%, #DAE8F0 99%);
	background-image: -ms-linear-gradient(bottom, #E7F3F5 14%, #DAE8F0 99%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.14, #E7F3F5),
		color-stop(0.99, #DAE8F0)
	);
	
	.main-banner {
		
		h1 {
			color: $index-main-color;
			font-weight: 500;
			font-size: 44px;
			margin: 0 0 5px 0 ;
		}
	
		h4 {
			color: $index-main-color;
			font-weight: 300;
			font-size: 20px;
		}
	}
	
}

.profile-icon {
	font-size: 80px;
}

#calendar {
	margin: 30px;
	width: 800px;
	height: 600px;
	background-color: #A3A3A3;
}