$index-main-color: #344152;
$index-second-color: #687C97;

.main-page {
	height: 90%;
	
	.page-title {
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
	
	.user-icon {
		height: 100%;
		padding-top: 20px;
		border-right: #CDCDCD solid 1px; 
		
		a {
			color: black;
            display: block;
			text-align: center;
	    }
	
		.profile-icon {
			font-size: 70px;
		}
		
		.profile-icon:hover {
			font-size: 80px;
			color: grey;
		}
		
		.active-icon {
			font-size: 80px;
			color: grey;
		}
		
		p {
			text-align: center;
			font-size: 15px;
			margin: 0;
			font-weight: 300;
			line-height: 10px;
			padding-bottom: 15px;
		}
		
	}
	
	.profile-view {
	
		#profile-picture {
			width: 100%;
		}
	  	
		.profile-info {
			margin-left: 0px;
			padding-left: 0;
			
			h5 {
				font-weight: bold;
				font-size: 15px;
				line-height: 15px;
				margin-bottom: 4px;
			}
			
			h6 {
				margin-bottom: 10px;
			}
		}
	} 
	
	.profile-info-summary {
		margin-top: 10px;
		h5 {
			margin-top: 15px;
			font-weight: bold;
			font-size: 15px;
			line-height: 15px;
			margin-bottom: 4px;
		}
		
		h6 {
			margin-bottom: 10px;
		}
		
		#resume-button {
			float: right;
		}
	}
	
	.request-events {
		h3 {
			
		}
		
		#pending_requests {
			a {
				margin: 0;
			}
		}
	}
	
	
	#show-events {
		a {
			margin: 0;
		}
	}
	
}



