$index-main-color: #344152;
$index-second-color: #687C97;

.main-page {
	min-height: 90%;
	
	.page-title {
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
	
	.user-icon {
		padding-top: 20px;
		border-right: #CDCDCD solid 1px; 
		
		a {
			color: black;
            display: block;
			text-align: center;
	    }
	
		.profile-icon {
			font-size: 70px;
		}
		
		.profile-icon:hover {
			font-size: 80px;
			color: grey;
		}
		
		.active-icon {
			font-size: 80px;
			color: grey;
		}
		
		p {
			text-align: center;
			font-size: 15px;
			margin: 0;
			font-weight: 300;
			line-height: 10px;
			padding-bottom: 15px;
		}
		
	}
	
	.profile-view {
	
		#profile-picture {
			width: 100%;
		}
	  	
		.profile-info {
			margin-left: 0px;
			padding-left: 0;
			
			h5 {
				font-weight: bold;
				font-size: 15px;
				line-height: 15px;
				margin-bottom: 4px;
			}
			
			h6 {
				margin-bottom: 10px;
			}
		}
	} 
	
	.profile-info-summary {
		margin-top: 10px;
		h5 {
			margin-top: 15px;
			font-weight: bold;
			font-size: 15px;
			line-height: 15px;
			margin-bottom: 4px;
		}
		
		h6 {
			margin-bottom: 10px;
		}
		
		#resume-button {
			float: right;
		}
	}
	
	.request-events {
		h3 {
			
		}
		
		#pending_requests {
			a {
				margin: 0;
			}
		}
	}
	
	
	#show-events {
		a {
			margin: 0;
		}
	}
	
	
	
	#calendar {
		table {
			margin-top: 20px;
			margin-bottom: 0px;
			border: none;
		}
	}
	
	.calendar-explanation {
		margin-top: 100px;
		
		.row {
			margin-bottom: 10px;
		}

		#pending-block {
		  width: 30px;
		  height: 30px;
		  background-color: #575757;
		  margin-top: 7px;
		  margin-left: 15px;
		}
		
		#no-block {
		  width: 30px;
		  height: 30px;
		  background-color: #c60f13;
		  margin-top: 7px;
		  margin-left: 15px;
		}
		
		#confirm-block {
		  width: 30px;
		  height: 30px;
		  background-color: #488214;
		  margin-top: 7px;
		  margin-left: 15px;
		}
		
		.setting-saying {

			p{
				margin: 0;
				float: left;
				padding: 0;
				text-align: left;
				font-weight: 300;
			}
		}
	}
	
	#recruiters {
		table-layout: fixed !important;
		width: 100%;
	}
	
	.search-feature {
		h3 {
			margin-top: 20px;
		}
		
		h6 {
			margin-bottom: 5px;
			margin-top: 15px;
			font-size: 18px;
		}
		
	}
	
	#event-info {
		width: 100%;
		tr {
			min-height: 30px;
		}  
		td {
			text-align: center;
		}
	}
	.sub-nav {
		margin-left: 15px;
	}
	
	#mailbox {
		margin-left: 15px;
		width: 100%;
		#messenger {
			width: 20%;
		}
		
		#title {
			width: 20%;
		}
		
		#content {
			width: 60%;
		}
	}
	
	#create_form {
		#content {
			height: 200px;
		}
	}
	
	#candidates {
		width: 100%;
		#name {
			width: 33%;
		}
		#uname {
			width: 33%;
		}
		#email {
			width: 33%;
		}
	}
	.customBlack,
	.customBlack div,	
	.customBlack span {
	     background-color: #575757;
	     color: white;
	     font-weight: 300px;
	     font-size: 12px;
	     line-height: 20px;
	     border: none;
	}

	.customGreen,
	.customGreen div,
	.customGreen span {
	   background-color: #488214;
	   color: white;
	   font-weight: 300px;
	   font-size: 12px;
	   line-height: 20px;
	   border: none;
	}

	.customRed,
	.customRed div,
	.customRed span {
	   background-color: #c60f13;
	   color: white;
	   font-weight: 300px;
	   font-size: 12px;
	   line-height: 20px;
   	   border:none;
	}

	
}



