#new_event {
    background-color:ivory; border:1px solid gray;
    position:fixed; top:25%; left:25%; display: none; padding: 0px 20px 10px 10px; z-index:100;
}
#new_event form div{float:left; width:80px; text-align:left;}

#new_event #delete_button {display: none;}