// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation-icons';

$index-main-color: #344152;
$index-second-color: #687C97;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.invisible {
	display: none;
}

.columns {	
	min-height: 1px;
}

.top-bar {
	
	border-bottom: solid 4px $index-main-color;
	.name {
		h1 a{
			color: $index-main-color;
			font-size: 20px;
			font-weight: 300;
		}
	}
	
	.has-form {
		height: 65px;
		form {
			padding: 10px 20px 0 0;
		}
	}
	
	.top-bar-item a:hover {
		background-color: #E8E8E8 !important;
		color: black;
	}
	
	.top-bar-item a {
		color: black;
		height:61px;
	}
	
	.error {
		margin-top: 5px;
		padding-left: 10px;
	}
	
	.button {
		width: 100%;
	}
	
	#forgot-password {
		line-height: 45px;
	}
}

.top-header {

	text-align: center;	
	border-bottom: solid 3px "black";

	padding: 0 0 26px 0;
	margin-bottom: 20px;
	
	background-image: linear-gradient(bottom, #E7F3F5 14%, #DAE8F0 99%);
	background-image: -o-linear-gradient(bottom, #E7F3F5 14%, #DAE8F0 99%);
	background-image: -moz-linear-gradient(bottom, #E7F3F5 14%, #DAE8F0 99%);
	background-image: -webkit-linear-gradient(bottom, #E7F3F5 14%, #DAE8F0 99%);
	background-image: -ms-linear-gradient(bottom, #E7F3F5 14%, #DAE8F0 99%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.14, #E7F3F5),
		color-stop(0.99, #DAE8F0)
	);

	.free-container {
		
		.free {
			font-family: "Proxima Nova Bold",Arial,sans-serif;
			font-size: 25px;
			line-height: 25px;
			color: #e0eeee;
			padding: 15px 33px 16px 33px;
			background-color: $index-main-color;
			display: inline-block;
			font-weight: 600;
			margin-top: 0px;
			-webkit-border-bottom-right-radius: 15px;
			-webkit-border-bottom-left-radius: 15px;
			-moz-border-radius-bottomright: 15px;
			-moz-border-radius-bottomleft: 15px;
			border-bottom-right-radius: 15px;
			border-bottom-left-radius: 15px;
		}
	}
	
	.banner {
		
		h1 {
			color: $index-main-color;
			font-weight: 600;
		}
	
		h4 {
			color: $index-main-color;
			font-weight: 200;
			font-size: 18px;
		}
	}
}


#main-form .form-wrapper
{
	background: rgb(35,52,76);
	background: -moz-linear-gradient(top,  rgba(35,52,76,1) 2%, rgba(52,65,82,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(35,52,76,1)), color-stop(100%,rgba(52,65,82,1)));
	background: -webkit-linear-gradient(top,  rgba(35,52,76,1) 2%,rgba(52,65,82,1) 100%);
	background: -o-linear-gradient(top,  rgba(35,52,76,1) 2%,rgba(52,65,82,1) 100%);
	background: -ms-linear-gradient(top,  rgba(35,52,76,1) 2%,rgba(52,65,82,1) 100%);
	background: linear-gradient(to bottom,  rgba(35,52,76,1) 2%,rgba(52,65,82,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23344c', endColorstr='#344152',GradientType=0 );
	
	
	padding: 60px 120px 20px 120px;
	border-radius: 10px;
	border: solid 5px #42526C;
	margin-bottom: 50px;

	label
	{
		color: white;
		font-weight: 300;
		font-size: 16px;
		letter-spacing: 1px;
	}
	.actions
	{
		text-align: center;
	}
	.button
	{
		color:#344152;
		border-radius: 5px;
		margin-top: 10px;
		&:hover{background-color: #FCFCFC;}
	}
	h4
	{
		text-align: center;
		color: white;
		font-size: 33px;
		font-weight: 200;
		margin-bottom: 17px;
	}
	
	#error_explanation
	{
		background-color: #334e69;
		border: solid 3px #2d445b;
		text-align: center;
		margin-top: 0px;
		margin-bottom: 20px;
		padding: 10px 0;
		border-radius: 10px;
		ul
		{
			list-style-type: none;
			margin: 0;
			li
			{
			font-weight: 600;
			font-family: Helvetica,sans-serif;
			font-size: 16px;
			color: white;
			padding: 5px 0;
			}
		}
	}
}

.icon-row {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px;
	
	i {
		color: $index-second-color;
		font-size: 80px;
	}
	
	h2 {
		color: $index-second-color;
		font-weight: 300;
		font-size: 17px;
		margin: 0;
	}
	#icon-active {
	
		i {
			color: $index-main-color;
		}
		h2 {
			color: $index-main-color;
			font-weight: 500;
		}
	}
}


.main-content {
	min-height: 400px;
	.side-nav {
		a {
			color: black;
		}
	}
	
	.button {
		background-color: $index-main-color;
	}
}

.footer {
	text-align: center;
	background-color: #3F3F3F;
	
	p {
		margin: 0;
		color: white;
		padding: 30px 0;
		height: 100%;
	}

	.button{
		background-color: white;
		color: #3F3F3F;
		margin-top: 29px;
		margin-left: -150px;
	}
}



// Place all the styles related to the shift_events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-header {
	
	border-bottom: solid 3px #e0eeee;

	padding: 20px 0 20px 0;
	margin-bottom: 20px;
	
	background-image: linear-gradient(bottom, #E7F3F5 14%, #DAE8F0 99%);
	background-image: -o-linear-gradient(bottom, #E7F3F5 14%, #DAE8F0 99%);
	background-image: -moz-linear-gradient(bottom, #E7F3F5 14%, #DAE8F0 99%);
	background-image: -webkit-linear-gradient(bottom, #E7F3F5 14%, #DAE8F0 99%);
	background-image: -ms-linear-gradient(bottom, #E7F3F5 14%, #DAE8F0 99%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.14, #E7F3F5),
		color-stop(0.99, #DAE8F0)
	);
	
	.banner {
		
		h1 {
			color: $index-main-color;
			font-weight: 600;
		}
	
		h4 {
			color: $index-main-color;
			font-weight: 200;
			font-size: 18px;
		}
	}



}


