<div class = "row">
         <%= content_tag :h4, "#{@recruiter.name}'s page" %>
  <div class = "large-1 columns">
    <i class="fi-home profile-icon"></i>
    <i class="fi-calendar profile-icon"></i>
    <i class="fi-mail profile-icon"></i>
    <i class="fi-wrench profile-icon"></i>
  </div>
  <div class = "large-8 columns">
    <div id = "calendar">

    </div>
  </div>
  <div class = "large-3 columns">
    <form action="/recruiters/<%=@recruiter.name%>/edit" method="get">
       <input type="submit"  value="Edit" class="medium button" id="edit_button">
    </form>
  </div>
</div>
