<div class = "one columns"></div>
<div class = "two columns">
	<i class="foundicon-compass"></i>
	<h2>Get Started</h3>
</div>
<div class = "two columns">
	<i class="foundicon-calendar" id ="bottom-icon"></i>
	<h2>Set Date</h3>
</div>
<div class = "two columns">
	<i class="fi-settings" id ="bottom-icon"></i>
	<h2>Custom Settings</h2>
</div>
<div class = "two columns">
	<i class="foundicon-mail" id ="bottom-icon"></i>
	<h2>Disperse</h2>
</div>
<div class = "two columns">
	<i class="foundicon-website" id ="bottom-icon"></i>
	<h2>Manage</h2>
</div>
<div class = "one columns"></div>
